build/*
microlog/__pycache__/*
dist/*
__pycache__/*
examples/__pycache__/*
dashboard/__pycache__/*
dashboard/views/__pycache__/*
tests/__pycache__/*
tests/microlog/__pycache__/*
tests/dashboard/views/__pycache__/*
tests/views/__pycache__/*
Microlog.egg-info/*
