build/*
microlog/__pycache__/*
dist/*
__pycache__/*
tests/microlog/__pycache__/*
dashboard/__pycache__/*
tests/__pycache__/*
examples/__pycache__/*
microlog/threads/__pycache__/*
tests/dashboard/views/__pycache__/*
